{% extends "layout.html" %}

{% block pageTitle %}
  My apprenticeship
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<br>
<br>

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l" id="employer-provider-title">Confirm your employer</h1>

                  <h2 class="govuk-heading-m " id="">CoTrain</h2>

                  {% from "govuk/components/details/macro.njk" import govukDetails %}

                  {{ govukDetails({
                    summaryText: "Help if you do not recognise your employer’s name",
                    text: "CoTrain is your employer's legal name registered with Companies House. You may know them by their trading name instead."
                  }) }}

  <h3 class="govuk-heading-m" id="">Things you need to know</h3>

<div class="govuk-inset-text">
  <p class="govuk-body">Your employer is a flexi-job apprenticeship agency and they will pay your wages.</p>
  <p class="govuk-body">Flexi-job apprenticeship agencies are organisations who employ apprentices and arrange placements with one or more host employers.</p>
  <p class="govuk-body">You may have several placements during your apprenticeship to learn the skills you need to complete your apprenticeship training.</p>
  <p class="govuk-body">Before starting your apprenticeship your flexi-job apprenticeship agency should have given you a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>copy of your apprenticeship agreement signed by you and them, if you have not received this agreement please speak to your flexi-job apprenticeship agency </li>
  <li>day-to-day contact or manager who will support you through your apprenticeship </li>
</ul>
</div>

 <form id="employer-form-hide" method="post" action="1b-dashboard">



  <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Is CoTrain your employer?
          </h3>
        </legend>


        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="EmployerConfirm" name="EmployerConfirm" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="AppDetails">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="EmployerConfirm-2" name="EmployerConfirm" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="AppDetails">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>



                    <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
</form>





          </div>
     </div>
</div>
{% endblock %}
