{% extends "layout.html" %}

{% block pageTitle %}
  My apprenticeship
{% endblock %}

{% block content %}
<a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

<br>
<br>


<div class="govuk-width-container">
     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-l">How your apprenticeship will be delivered</h1>

               <p>
                  Your apprenticeship will be delivered in two parts:
               </p>
               <ul class="govuk-list govuk-list--bullet">
                    <li>a training period where you may move between different placements</li>
                    <li>an end-point assessment </li>
                </ul>


                  <h3 class="govuk-heading-m" id="">Your training period</h3>
                    <p>
                         <b>Your flexi-job apprenticeship agency</b> will arrange placements where you will gain hands-on experience in your chosen occupation. At your placement you will be offered training and supervision to help you develop the skills you need for the role.
                    </p>
                    <p>
                         <b>Each placement</b> will help you develop some of the skills required for your apprenticeship.                      
                    </p>
                    <p>
                         <b>Your training provider</b> is responsible for your off-the-job training. Your off-the-job training will be at least <b>20% of your normal working hours</b> spent learning new knowledge, skills and behaviours for your apprenticeship. Your off-the-job training will be managed by your training provider.                      
                    </p>

                    <p>  
                         <b>Your training plan</b> is agreed between you and your training provider. The plan will set out a training schedule for your off-the-job training. Your training plan will include:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                    <li>the delivery of the knowledge, skills and behaviours required for your apprenticeship</li>
                    <li>how and when your off-the-job training will be delivered</li>
                    <li>English and maths qualifications, if you have not already achieved these </li>
                    <li>regular progress reviews with your flexi-job apprenticeship agency and training provider</li>
                    </ul>


                          <h3 class="govuk-heading-m" id="">Your end-point assessment</h3>

                          <p>You'll be assessed by an independent end-point assessor on the knowledge, skills and behaviours that you've learnt during your apprenticeship to confirm you're occupationally competent.</p>

                          <p>You will agree when you're ready for your end-point assessment in your progress reviews with your flexi-job apprenticeship agency and training provider.</p>

                          <p>Your flexi-job apprenticeship agency and training provider will tell you what to expect and when the assessment will take place. </p>



              <a href="4b-dashboard" class="govuk-button" data-module="govuk-button" id="traininfo-confirmed">Continue</a><br />




              </div>

          </div>

{% endblock %}
