{% extends "layout.html" %}

{% block pageTitle %}
  My apprenticeship
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">You have confirmed your apprenticeship details</h1>

                    <div class="govuk-panel__body">
                         Electrical Installation NVQ
                         <br>

                    </div>
               </div>

               <h2 class="govuk-heading-m">What happens next?</h2>

               <p class="govuk-body">We have sent you a confirmation email. </p>

               <p class="govuk-body">You have completed the confirmation of your apprenticeship details. Your employer and training provider will contact you. </p>



        <h3 class="govuk-heading-s">Can you help?</h3>

        <p class="govuk-body">
           This is a new service and we want to hear what you think. 
           Please complete this 5 minute survey.
           Your feedback will help us make improvements to the service.
     </p>

     <button class="govuk-button" data-module="govuk-button">
          Take the survey
        </button>

          </div>
     </div>
</div>
{% endblock %}
