
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Flexi-job apprenticeship agency prototype

      </h1>{{releaseVersion | log }}


      <h2 class="govuk-heading-m">What are flexi-job apprenticeship agencies</h2>

      <p>
        The government has announced plans to withdraw its register of apprenticeship training agencies (ATAs) and replace it with a new one that is for specific sectors.<br><br>
        The new scheme was announced by the chancellor Rishi Sunak at his budget in March and will involve a £7 million fund to create and test them ahead of a formal launch in January 2022.<br><br>
        The idea is to set up new agencies which employ apprentices and place them with multiple employers. They are being targeted at industries where project-based employment is the norm and struggle comply with the 12-month minimum apprenticeship rule, such as creative, agriculture and construction.
      </p>

      <h2 class="govuk-heading-m">What is in this prototype</h2>

      <p>
        One scope of our MVS delivery is to update the content in the apprentice 'confirm my apprenticeship details (CMAD)' so it reflects a flexi-job agency apprenticeship.
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-m">Journey
        <span class="govuk-caption-m">Version 1 - pending UR</span>
      </h2>

      <p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design artefacts
            </span>
          </summary>
          <div class="govuk-details__text">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://lucid.app/lucidspark/688dbb23-8705-4fbb-b610-7af754f5a7f1/edit?viewport_loc=37693%2C-6230%2C30920%2C15865%2C0_0&invitationId=inv_09758223-649b-4344-8fe0-db60bb340497#">Lucid board (opens in new tab)</a><br>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/3571482625/Flexi-job+Scheme+Register">Confluence page (opens in new tab)</a>
          </div>
        </details>
      </p>

      

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="cmad/0-email"><strong>Start CMAD journey</strong></a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
