
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Flexi-job apprenticeship agency prototype

      </h1>{{releaseVersion | log }}


      <h2 class="govuk-heading-m">CMAD</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="cmad/0-email">Start CMAD journey</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
