
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Editing prototypes through Github

      <p>
        You can make prototype content changes by editing the code directly on the page in Github. 
      </p>

      <p>
        Github repo: <a href="https://github.com/DFE-Digital/das-fjaa-prototype">https://github.com/DFE-Digital/das-fjaa-prototype</a>
      </p>

    </div>
  </div>

{% endblock %}
